body, h1 , p{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    text-align: center;
}
.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header-content h1 {
    margin: 0;
}

.search-bar-container input[type="text"] {
    padding: 10px;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    width: 300px;
}

.search-bar-container button {
    padding: 10px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #0056b3;
    color: white;
    cursor: pointer;
    outline: none;
}

.search-bar-container button:hover {
    background-color: #004494;
}

main {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
}

#word-container {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 24px;
    margin-right: 7%;
}

.word-entry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 70%;
    margin-top: 10%;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.5s;
}

.word-entry:hover{
    transform: translateY(-10px);
}

footer{
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

h3, p, h2{
    text-align: center;
}

.btn {
    border: none; 
    color: #333; 
    padding: 11px 16px; 
    font-size: 39px; 
    cursor: pointer; 
    border-radius: 50px;
}

.btn:hover {
    color: #007bff;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.icon-button:hover {
    color: #007bff;
}

#next-word-button{
    border: #f0f0f0;
    padding: 11px 16px;
    font-size: 39px;
    border-radius: 50px;
}

#next-word-button:hover{
    color: #007bff;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.bookmark-button,
.like-button {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.bookmark-button:hover,
.like-button:hover {
    color: #007bff;
}

::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

::-webkit-scrollbar-track {
    background: #f0f0f0; 
}

::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 6px; 
    border: 3px solid #f0f0f0; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

/* Progress Bar */
#progress-container {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

#progress-bar {
    flex-grow: 1;
    margin-right: 10px;
    height: 20px;
    border-radius: 10px;
}

#progress-text {
    margin-right: 10px;
}

#progress-bar::-webkit-progress-value {
    background-color: #007bff;
}

#reset-button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.2em;
    color: #007bff;
}

#reset-button:hover {
    color: #0056b3;
}

/* Modal Styles */
.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgba(0,0,0,0.4); 
  }
  
  .modal-content {
    background-color: #fefefe;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
  }
  
  .close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }
  
  /* Form Styles */
  form {
    display: flex;
    flex-direction: column;
  }
  
  label {
    margin-bottom: 5px;
  }
  
  input[type="text"],
  textarea {
    margin-bottom: 10px;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
  }
  
  button[type="submit"] {
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  button[type="submit"]:hover {
    background-color: #0056b3;
  }

/* Add Word Button */
#add-word-button {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    font-size: 1.5em;
    cursor: pointer;
    box-shadow: 0 2px 5px rgba(0,0,0,0.1);
    transition: background-color 0.2s;
}

#add-word-button:hover {
    background-color: #0056b3;
}

.container {
    display: flex;
}

.sidebar {
    width: 20%;
    background-color: #0f0f0f0f;
    padding: 10px;
    box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-content {
    width: 80%;
    padding: 20px;
}

.word-entry {
    margin-bottom: 20px;
}

.word-entry h2 {
    display: flex;
    align-items: center;
}

.word-entry .btn {
    margin-right: 10px;
}

.word-entry .action-buttons {
    margin-top: 10px;
}

.word-entry .action-buttons button {
    margin-right: 5px;
}

.sidebar h3 {
    margin-top: 0;
}

.sidebar ul {
    list-style-type: none;
    padding: 0;
}

.sidebar ul li {
    background: #0f0f0f0f;
    margin-bottom: 5px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}