body, h1 , p{
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    color: #333;
}

header {
    position: sticky;
    top: 0;
    background-color: #f0f0f0;
    color: #333;
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px auto;
    max-width: 800px;
    padding: 20px;
}

#word-container {
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0);
    text-align: center;
    font-size: 24px;
    margin-right: 7%;
}

.word-entry{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    margin-bottom: 70%;
    margin-top: 10%;
    border: 10px solid #c9aa88;
    padding: 10px;
    border-radius: 10px;
    transition: transform 0.5s;
}

.word-entry:hover{
    transform: translateY(-10px);
}

footer{
    background-color: #007bff;
    color: #fff;
    text-align: center;
    padding: 10px 0;
    position: relative;
    bottom: 0;
    width: 100%;
}

h3, p, h2{
    text-align: center;
}

.btn {
    border: none; 
    color: #333; 
    padding: 11px 16px; 
    font-size: 39px; 
    cursor: pointer; 
    border-radius: 50px;
}

.btn:hover {
    background-color: bisque;
}

.icon-button {
    background: none;
    border: none;
    cursor: pointer;
    border-radius: 50px;
}

.icon-button:hover {
    background-color: bisque;
}

#next-word-button{
    border: #f0f0f0;
    padding: 11px 16px;
    font-size: 39px;
    border-radius: 50px;
}

#next-word-button:hover{
    background-color: bisque;
    border-radius: 50px;
}

.action-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-top: 20px;
}

.bookmark-button {
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: #333;
}

.bookmark-button:hover {
    color: #007bff;
}

::-webkit-scrollbar {
    width: 12px; 
    height: 12px; 
}

::-webkit-scrollbar-track {
    background: #f0f0f0; 
}

::-webkit-scrollbar-thumb {
    background-color: #888; 
    border-radius: 6px; 
    border: 3px solid #f0f0f0; 
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555; 
}

#progress-container {
    position: fixed;
    top: 20px;
    right: 20px;
    z-index: 1000;
    background-color: white;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
}

.like-button{
    border: none;
    background: none;
    font-size: 24px;
    cursor: pointer;
    color: #333; 
}
